{% extends 'admin/base.html' %}
{% load static %}

{% block extrahead %}{{ block.super }}

<style>
:root {
  --primary: #9774d5;
  --secondary: #785cab;
  --link-fg: #7c449b;
  --link-selected-fg: #8f5bb2;
}

@font-face {
    font-family: 'myFont';
    src: url('assets/fonts/Manrope-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'myFont';
    src: url('assets/fonts/Manrope-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'myFont';
    src: url('assets/fonts/Manrope-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

body {
    font-size: 16px;
}
h1 {
    font-family: 'myFont';
}
p {
    font-family: 'myFont';
}
</style>
{% endblock %}