@font-face {
    font-family: 'myFont';
    src: url('../assets/fonts/Manrope-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'myFont';
    src: url('../assets/fonts/Manrope-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'myFont';
    src: url('../assets/fonts/Manrope-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'myFont', sans-serif;
}